.alert {
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert--dismissible {
  padding-right: 35px; }
  .alert--dismissible .alert__close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }
