$variable1: 3;
$variable2: 3;
$variable3: 3;

.test-import3-1 {
  content: 'Test import 3-1';
}

.test-import3-2 {
  content: 'Test import 3-2';
}

@mixin mixin-at-rule {
  .selector-inside-mixin-at-rule {
    content: 'Selector inside mixin at rule';
  }
}
