.test-import1-1 {
  content: 'Test import 1-1'; }

.test-import1-2 {
  content: 'Test import 1-2'; }

.test-import1-3 {
  content: 'Test import 1-3'; }

.test-import2-1 {
  content: 'Test import 2-1'; }

.test-import2-2 {
  content: 'Test import 2-2'; }

.test-import2-3 {
  content: 'Test import 2-3'; }

.test-sub-import1 {
  content: 'Test sub import 1'; }

.test-sub-import2 {
  content: 'Test sub import 2'; }

.alert {
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert-heading {
  color: inherit; }

.alert-link {
  font-weight: bold; }

.alert-dismissible {
  padding-right: 35px; }
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d; }
  .alert-success hr {
    border-top-color: #c1e2b3; }
  .alert-success .alert-link {
    color: #2b542c; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f; }
  .alert-info hr {
    border-top-color: #a6d5ec; }
  .alert-info .alert-link {
    color: #245269; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b; }
  .alert-warning hr {
    border-top-color: #f7ecb5; }
  .alert-warning .alert-link {
    color: #66512c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442; }
  .alert-danger hr {
    border-top-color: #e4b9b9; }
  .alert-danger .alert-link {
    color: #843534; }

.alert {
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert--dismissible {
  padding-right: 35px; }
  .alert--dismissible .alert__close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem; }
  @media (min-width: 544px) {
    .jumbotron {
      padding: 4rem 2rem; } }

.jumbotron--hr {
  border-top-color: #d0d5d8; }

.jumbotron--fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0; }
