.partial-2 {
  content: 'Partial 2'; }

@media (min-width: 42em) {
  .partial-3-mq {
    content: 'Partial 3 mq'; } }

.test-selector {
  content: "test";
  color: #fff;
  background: rebeccapurple; }
