.test-import1-1 {
  content: 'Test import 1-1'; }

.test-import1-2 {
  content: 'Test import 1-2'; }

.test-import1-3 {
  content: 'Test import 1-3'; }

.test-import2-1 {
  content: 'Test import 2-1'; }

.test-import2-2 {
  content: 'Test import 2-2'; }

.test-import2-3 {
  content: 'Test import 2-3'; }

.test-sub-import1 {
  content: 'Test sub import 1'; }

.test-sub-import2 {
  content: 'Test sub import 2'; }
