.special\@-characters\/ {
  content: 'Special characters';
}

.replace-\@special\/-characters {
  content: 'Replaced special characters';
}

.regex\@-special\/-charecters {
  content: 'Regex special characters';
}
